{#
extend is like inheritance, the concrete implementation index.html
overide content, header, scripts.

include/import are like composition, dependency is delegated to the
imported/included components
#}
{% extends "base.html" %}

{% block extra_head %}
<style>
    .input-row { max-width: {{ ui.input_row_max_width }}; }
</style>
{% endblock %}

{% block content %}
    <div id="dynamic-command-display" class="dynamic-command-display">
      <div> Command: </div>
      <div> <code>{{ command | join(' ') }}</code> </div>
    </div>
    
    <form method="post" action="/run">
        {% for arg in script_arguments %}
            <div class="input-group">
                <label for="{{ arg.dest }}">{{ arg.label }}:</label>
                <div class="paste-and-input-row-container">
                    <div class="input-row">
                        <button type="button" class="btn-paste" title="Paste from Clipboard"><i class="fas fa-paste"></i></button>
                        <button type="submit" class="btn-run" title="Run Command"><i class="fas fa-play"></i></button>
                        {% if arg.options is not none %}
                            <select id="{{ arg.dest }}" name="{{ arg.dest }}">
                                {% for option in arg.options %}
                                    <option value="{{ option }}" 
                                            {% if request.form.get(arg.dest, arg.default) == option %}selected{% endif %}>
                                        {{ option }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% elif arg.type == 'checkbox' %}
                            <input type="checkbox" id="{{ arg.dest }}" name="{{ arg.dest }}" 
                                   {% if request.form.get(arg.dest) == 'on' or (arg.default and request.form.get(arg.dest) is none) %}checked{% endif %}>
                        {% elif arg.type == 'text' %}
                            <input class="user-input" type="search" id="{{ arg.dest}}" name="{{ arg.dest }}"
                                   value="{{ request.form.get(arg.dest, arg.default if arg.default is not none else '') }}" 
                                   placeholder="{{ arg.placeholder or '' }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
    </form>

    {% if output %}
        <div class="output-section">
            <h2>Output:</h2>
            <pre>{{ output }}</pre>
        </div>
    {% endif %}
    {% if error %}
        <div class="output-section">
            <h2>Error:</h2>
            <pre class="error">{{ error }}</pre>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        window.APP_CONFIG = {
            scriptArguments: {{ script_arguments | tojson }},
            baseCommand: {{ command | tojson }}
        };
    </script>
    <script src="{{ url_for('static', filename='js/command_runner.js') }}"></script>
{% endblock %}
